# Configuración SMTP (Para recuperar contraseña)
# Ejemplo para Gmail: usa tu correo y genera una "Contraseña de aplicación" en tu cuenta de Google.
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_app_password
